In [1]:
import pandas as pd


df_web_data_combinado = pd.read_csv('../CSV/df_web_data_combinado.csv')
df_final_experiment_clients = pd.read_csv('../CSV/df_final_experiment_clients.csv')
df_demo_expanded = pd.read_csv('../CSV/df_demo_expanded.csv')

/var/folders/gj/ny5jghyx665704696cg6yfdm0000gn/T/ipykernel_74052/2928254202.py:6: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_demo_expanded = pd.read_csv('../CSV/df_demo_expanded.csv')

In [2]:
# Fill or drop missing values based on context

# Replace missing numeric values with their column mean
numeric_columns = df_demo_expanded.select_dtypes(include=['float64']).columns
df_demo_expanded[numeric_columns] = df_demo_expanded[numeric_columns].fillna(df_demo_expanded[numeric_columns].mean())

# Replace missing categorical values (e.g., 'gendr') with a placeholder or mode
if 'gendr' in df_demo_expanded.columns:
    df_demo_expanded['gendr'] = df_demo_expanded['gendr'].fillna('Unknown')

# Confirm cleaning
cleaned_info = df_demo_expanded.info()
cleaned_missing_values = df_demo_expanded.isnull().sum()

# Save cleaned file
cleaned_path = '../CSV/df_demo_expanded_limpio.csv'
df_demo_expanded.to_csv(cleaned_path, index=False)

cleaned_info, cleaned_missing_values, cleaned_path

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70595 entries, 0 to 70594
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            70595 non-null  int64
 1   clnt_tenure_yr       70595 non-null  float64
 2   clnt_tenure_mnth     70595 non-null  float64
 3   clnt_age             70595 non-null  float64
 4   gendr                70595 non-null  object
 5   num_accts            70595 non-null  float64
 6   bal                  70595 non-null  float64
 7   calls_6_mnth         70595 non-null  float64
 8   logons_6_mnth        70595 non-null  float64
 9   Variation            50488 non-null  object
 10  total_tenure_months  70595 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.9+ MB

(None,
 client_id                  0
 clnt_tenure_yr             0
 clnt_tenure_mnth           0
 clnt_age                   0
 gendr                      0
 num_accts                  0
 bal                        0
 calls_6_mnth               0
 logons_6_mnth              0
 Variation              20107
 total_tenure_months        0
 dtype: int64,
 '../CSV/df_demo_expanded_limpio.csv')

In [3]:
df_demo_expanded

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,total_tenure_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,test,145.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,control,178.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,test,124.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,test,390.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,control,289.0
...,...,...,...,...,...,...,...,...,...,...,...
70590,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0,NaN,104.0
70591,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0,NaN,292.0
70592,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0,NaN,390.0
70593,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0,NaN,507.0
70594,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0,NaN,506.0

In [6]:
columns_to_convert = ['clnt_tenure_yr', 'clnt_tenure_mnth', 'num_accts','calls_6_mnth','logons_6_mnth','total_tenure_months']
df_demo_expanded[columns_to_convert] = df_demo_expanded[columns_to_convert].astype(int)

In [7]:
df_demo_expanded

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,total_tenure_months
0,836976,6,73,60.5,U,2,45105.30,6,9,test,145
1,2304905,7,94,58.0,U,2,110860.30,6,9,control,178
2,1439522,5,64,32.0,U,2,52467.79,6,9,test,124
3,1562045,16,198,49.0,M,2,67454.65,3,6,test,390
4,5126305,12,145,33.0,F,2,103671.75,0,3,control,289
...,...,...,...,...,...,...,...,...,...,...,...
70590,7993686,4,56,38.5,U,3,1411062.68,5,5,NaN,104
70591,8981690,12,148,31.0,M,2,101867.07,6,6,NaN,292
70592,333913,16,198,61.5,F,2,40745.00,3,3,NaN,390
70593,1573142,21,255,68.0,M,3,475114.69,4,4,NaN,507
70594,5602139,21,254,59.5,F,3,157498.73,7,7,NaN,506