In [1]:
import pandas as pd

In [2]:
df_final_demo = pd.read_csv("./CSV/df_final_demo.csv")

In [6]:
df_final_demo.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [12]:
# Verificar si hay valores nulos en el DataFrame
hay_nulos = df_final_demo.isnull().any().any()

if hay_nulos:
    print("El archivo contiene valores nulos o vacíos.")
    # Mostrar las columnas con valores nulos y el conteo
    print("Columnas con valores nulos:")
    print(df_final_demo.isnull().sum())
else:
    print("El archivo no contiene valores nulos o vacíos.")

El archivo contiene valores nulos o vacíos.
Columnas con valores nulos:
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [13]:
filas_con_nulos = df_final_demo[df_final_demo.isnull().any(axis=1)]
print(filas_con_nulos)

       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
4164     7402828             NaN               NaN       NaN   NaN        NaN
8316      355337             NaN               NaN       NaN   NaN        NaN
8677     8412164             NaN               NaN       NaN   NaN        NaN
9583     4666211             8.0             106.0       NaN     F        2.0
13444    2222915             NaN               NaN       NaN   NaN        NaN
18066    4876926             NaN               NaN       NaN   NaN        NaN
25961    5277910             NaN               NaN       NaN   NaN        NaN
28432    7616759             NaN               NaN       NaN   NaN        NaN
35323    8191345             NaN               NaN       NaN   NaN        NaN
43518    1227228             NaN               NaN       NaN   NaN        NaN
46076    8611797             NaN               NaN       NaN   NaN        NaN
47189    5144725             NaN               NaN       NaN   NaN        NaN
49846    1037867             NaN               NaN       NaN   NaN        NaN
63701    1618749             NaN               NaN       NaN   NaN        NaN
66219    6021001             NaN               NaN       NaN   NaN        NaN

            bal  calls_6_mnth  logons_6_mnth
4164        NaN           NaN            NaN
8316        NaN           NaN            NaN
8677        NaN           NaN            NaN
9583   42550.55           4.0            7.0
13444       NaN           NaN            NaN
18066       NaN           NaN            NaN
25961       NaN           NaN            NaN
28432       NaN           NaN            NaN
35323       NaN           NaN            NaN
43518       NaN           NaN            NaN
46076       NaN           NaN            NaN
47189       NaN           NaN            NaN
49846       NaN           NaN            NaN
63701       NaN           NaN            NaN
66219       NaN           NaN            NaN

In [5]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  object
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB