In [25]:
import pandas as pd

In [26]:
df_final_expanded = pd.read_csv("../CSV/df_demo_expanded.csv")

In [27]:
df_final_expanded.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,total_tenure_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0,test,145.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0,control,178.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0,test,124.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0,test,390.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0,control,289.0

In [28]:
# Verificar si hay valores nulos en el DataFrame
hay_nulos = df_final_expanded.isnull().any().any()

if hay_nulos:
    print("El archivo contiene valores nulos o vacíos.")
    # Mostrar las columnas con valores nulos y el conteo
    print("Columnas con valores nulos:")
    print(df_final_expanded.isnull().sum())
else:
    print("El archivo no contiene valores nulos o vacíos.")

El archivo contiene valores nulos o vacíos.
Columnas con valores nulos:
client_id              0
clnt_tenure_yr         0
clnt_tenure_mnth       0
clnt_age               1
gendr                  0
num_accts              0
bal                    0
calls_6_mnth           0
logons_6_mnth          0
Variation              0
total_tenure_months    0
dtype: int64

In [29]:
df_final_expanded= df_final_expanded.dropna(subset=['clnt_age'])

In [30]:
filas_con_nulos = df_final_expanded[df_final_expanded.isnull().any(axis=1)]
print(filas_con_nulos)

Empty DataFrame
Columns: [client_id, clnt_tenure_yr, clnt_tenure_mnth, clnt_age, gendr, num_accts, bal, calls_6_mnth, logons_6_mnth, Variation, total_tenure_months]
Index: []

In [31]:
df_final_expanded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50487 entries, 0 to 50487
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            50487 non-null  int64
 1   clnt_tenure_yr       50487 non-null  float64
 2   clnt_tenure_mnth     50487 non-null  float64
 3   clnt_age             50487 non-null  float64
 4   gendr                50487 non-null  object
 5   num_accts            50487 non-null  float64
 6   bal                  50487 non-null  float64
 7   calls_6_mnth         50487 non-null  float64
 8   logons_6_mnth        50487 non-null  float64
 9   Variation            50487 non-null  object
 10  total_tenure_months  50487 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 4.6+ MB

In [32]:
df_final_expanded['clnt_tenure_yr'] = df_final_expanded['clnt_tenure_yr'].round(2)
df_final_expanded['clnt_tenure_mnth'] = df_final_expanded['clnt_tenure_mnth'].round(2)
df_final_expanded['clnt_age'] = df_final_expanded['clnt_age'].round(2)
df_final_expanded['num_accts'] = df_final_expanded['num_accts'].round(2)
df_final_expanded['bal'] = df_final_expanded['bal'].round(2)
df_final_expanded['calls_6_mnth'] = df_final_expanded['calls_6_mnth'].round(2)
df_final_expanded['logons_6_mnth'] = df_final_expanded['logons_6_mnth'].round(2)
df_final_expanded['total_tenure_months'] = df_final_expanded['total_tenure_months'].round(2)

In [33]:
columns_to_convert = ['clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'num_accts', 'calls_6_mnth', 'logons_6_mnth', 'total_tenure_months']
df_final_expanded[columns_to_convert] = df_final_expanded[columns_to_convert].astype(int)

In [34]:
df_final_expanded.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation,total_tenure_months
0,836976,6,73,60,U,2,45105.30,6,9,test,145
1,2304905,7,94,58,U,2,110860.30,6,9,control,178
2,1439522,5,64,32,U,2,52467.79,6,9,test,124
3,1562045,16,198,49,M,2,67454.65,3,6,test,390
4,5126305,12,145,33,F,2,103671.75,0,3,control,289

In [35]:
df_final_expanded.to_csv("df_final_expanded_limpio.csv", index=False)